@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

div.sm-container {
  margin: auto;
  width: 50%;
}

div.sm-container h1,
div.sm-container h2,
div.container h2 {
  text-align: center;
}

.correct {
  font-size: 20px;
  color: green;
}

.wrong {
  font-size: 20px;
  color: red;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  border-radius: 100px;
  margin: 16px auto;
  text-align: center;
}

.md-avatar,
.sm-avatar {
  object-fit: cover;
  border-radius: 100px;
}

.md-avatar {
  height: 200px;
  width: 200px;
}

.sm-avatar {
  height: 100px;
  width: 100px;
}
